/** @format */

.Nav {
  padding: 20px;
}
.Nav .container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.Nav .container .logo {
  width: 100px;
}

.Nav .container .logo img {
  width: 100%;
}
.Nav .container .mid-div {
  display: flex;
  gap: 20px;
}
.Nav .container .mid-div ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
.Nav .container .mid-div ul li {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
